
  <ion-list>
    <ion-list-header>
      Productos Reservados
    </ion-list-header>

    <ion-item routerLink="/pedido">
      <ion-avatar slot="start">
        <img src="../../../assets/img/carnes.jpg">
      </ion-avatar>
      <ion-label>Señora</ion-label>
    </ion-item>

    <ion-item routerLink=""> 
      <ion-avatar slot="start">
        <img src="../../../assets/img/carnes.jpg">
      </ion-avatar>
      <ion-label>Señora</ion-label>
    </ion-item>
    
    <ion-item routerLink="">
      <ion-avatar slot="start">
        <img src="../../../assets/img/carnes.jpg">
      </ion-avatar>
      <ion-label>Señora</ion-label>
    </ion-item>

  </ion-list>