<ion-grid>
  <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card>
          <ion-avatar>
            <img src="../../../../assets/img/carne.png" alt="">
          </ion-avatar>        
          <ion-card-title>
            Señora
          </ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-avatar>
            <img src="../../../../assets/img/carne.png" alt="">
          </ion-avatar>
          <ion-card-title>
            Señora
          </ion-card-title>
        </ion-card>
      </ion-col>
      
  </ion-row>
</ion-grid>