<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    
    <ion-title color="primary">
      Reservaciones
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="primary"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content> 
    
  <ion-list>

    <ion-item routerLink="/pedido">
      <ion-avatar slot="start">
        <img src="../../../assets/img/carnes.jpg">
      </ion-avatar>
      <ion-label>Señora</ion-label>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>

    <ion-item routerLink=""> 
      <ion-avatar slot="start">
        <img src="../../../assets/img/carnes.jpg">
      </ion-avatar>
      <ion-label>Señora</ion-label>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
    
    <ion-item routerLink="">
      <ion-avatar slot="start">
        <img src="../../../assets/img/carnes.jpg">
      </ion-avatar>
      <ion-label>Señora</ion-label>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
