
<ion-header>
  <ion-toolbar class="barra" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Unete a GoMarket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Logo GoMarket-->
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input maxlength="100" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
  
        
        <ion-item>
          <ion-label position="floating" >Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
  
  
    <!--/Logo GoMarket-->
  
  <ion-button class="btnlogin" shape="round" expand="full" type="submit" (click)="register()" [disabled]="!credentialsForm.valid">Registrar Cuenta</ion-button>
  
</form>
</ion-content>
