
<ion-header>
  <ion-toolbar class="barra" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Unete a GoMarket</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="bg" padding>
  
  <ion-grid>
  <!--Logo GoMarket-->
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input maxlength="100"></ion-input>
        </ion-item>
      </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Ingrese su correo</ion-label>
          <ion-input maxlength="100"></ion-input>
        </ion-item>
      </ion-col>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
        <ion-item>
          <ion-label position="floating" >Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid>
  
  
    <!--/Logo GoMarket-->
  
  <ion-button class="btnlogin" shape="round" routerLink="./../tab1" expand="full" >Registrar Cuenta</ion-button>
  
  
</ion-content>
