
<ion-header>
  <ion-toolbar class="barra" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Unete a GoMarket</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="bg" padding>
  
  <ion-grid>
  <!--Logo GoMarket-->
  
  
   
  
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input maxlength="100"></ion-input>
        </ion-item>
      </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Ingrese su correo</ion-label>
          <ion-input maxlength="100"></ion-input>
        </ion-item>
      </ion-col>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
        <ion-item>
          <ion-label position="floating" >Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid>
  
  
    <!--/Logo GoMarket-->
  
  <ion-button class="btnlogin" shape="round" routerLink="./../tab1" expand="full" >Registrar Cuenta</ion-button>
  

  <style>
    .logo {
      margin-top: 15px;
    }

    .inferior {
      margin-top: 18px;
      margin-bottom: 0px;
      padding: 0px;
      margin-right: 0px;
      margin-left: 0px;
    }

    .btnlogin {
      --background:#413ECE;
      --background-hover:#7A78DD;
    }

    .btnregistro {
      --border-color:#413ECE;
       color: #413ECE;
    }

    .barra {
      --background:#413ECE;
    }
  </style>

  
</ion-content>
