.logo {
    margin-top: 15px;
  }

  .inferior {
    margin-top: 18px;
    margin-bottom: 0px;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .btnlogin {
    --background:#413ECE;
    --background-hover:#7A78DD;
  }

  .btnregistro {
    --border-color:#413ECE;
     color: #413ECE;
  }

  .barra {
    --background:#413ECE;
  }